@font-face {
    font-family: "fakt";
    src: url("fakt-bnd.ttf");
}

body
{
    font-family: "fakt", sans-serif;
    color: #000;
}

.rotate
{
    rotate: -90deg;
}

.w-header
{
    width: 80px;
}

.w-main
{
    width: calc(100vw - 97px);
}

.e-resize
{
    cursor: e-resize !important;
}

/* Section our practice */
.our-practice
{
    margin-top: 120px;
}

.div-our-practice
{
    width: 98%;
    margin-bottom: 72px;
}

.fs-text
{
    font-size: 64px;
}

/* Section 1 deuxieme ligne */
.text-quote
{
    width: 28vw;
    height: 29vh;
    margin-top: 33%;
    border-left: 1px solid #ff5caa;
    line-height: 23px;
    padding-left: 35px;
}

.text-quote blockquote
{
    font-size: 17px;
    /* position: relative; */
}

.text-quote blockquote::before
{
    content: "“";
    position: absolute;
    left: -8px;
}

.text-quote span
{
    font-size: 16px;
    color: rgb(165, 165, 165);
}

.width-img
{
    width: 60vw;
}

/* Premier texte de section 1 troisieme ligne*/
.text-1 p
{
    font-size: 24px;
    line-height: 1.333;
    width: 29.6vw;
    margin-bottom: 86px;
}

/* Section 1 Animation bouton about collective */
.button-about:hover
{

    background-color: #000 !important;
    transition: 0.2s ease-in;
}

.button-about:hover a
{
    color: white !important;
}

.button-about:hover svg path[fill="black"]
{
    fill: white;
}
/* Fin animation */

.button-about a
{
    font-size: 18px;
    font-weight: 600;
}

/* 2nd texte section 1 deuxieme ligne */
.text-2 p
{
    font-size: 24px;
    line-height: 1.333;
    width: 29.6vw;
}

/* Section our book */
.our-book
{
    margin-top: 120px;
}

.div-our-book
{
    width: 98%;
    margin-bottom: 72px;
}

.our-book .text-1 p
{
    width: 29.9vw;
}

.our-book .text-2 p
{
    width: 29.9vw;
}

/* Section video */
.video
{
    margin-top: 140px;
}