@font-face {
    font-family: "fakt";
    src: url("fakt-bnd.ttf");
}

body
{
    font-family: "fakt", sans-serif;
    color: #000;
}

.rotate
{
    rotate: -90deg;
}

.w-header
{
    width: 80px;
}

.w-main
{
    width: calc(100vw - 97px);
}

.e-resize
{
    cursor: e-resize !important;
}

/* Section our practice */
.our-practice
{
    margin-top: 120px;
}

.div-our-practice
{
    width: 98%;
    margin-bottom: 72px;
}

.fs-text
{
    font-size: 64px;
}

/* Section 1 deuxieme ligne */
.text-quote
{
    width: 28vw;
    height: 29vh;
    margin-top: 33%;
    border-left: 1px solid #ff5caa;
    line-height: 23px;
    padding-left: 35px;
}

.text-quote blockquote
{
    font-size: 17px;
    /* position: relative; */
}

.text-quote blockquote::before
{
    content: "“";
    position: absolute;
    left: -8px;
}

.text-quote span
{
    font-size: 16px;
    color: rgb(165, 165, 165);
}

.width-img
{
    width: 60vw;
}

/* Premier texte de section 1 troisieme ligne*/
.text-1 p
{
    font-size: 24px;
    line-height: 1.333;
    width: 29.6vw;
    margin-bottom: 86px;
}

/* Section 1 Animation bouton about collective */
.button-about:hover
{

    background-color: #000 !important;
    transition: 0.2s ease-in;
}

.button-about:hover a
{
    color: white !important;
}

.button-about:hover svg path[fill="black"]
{
    fill: white;
}
/* Fin animation */

.button-about a
{
    font-size: 18px;
    font-weight: 600;
}

/* 2nd texte section 1 deuxieme ligne */
.text-2 p
{
    font-size: 24px;
    line-height: 1.333;
    width: 29.6vw;
}

/* Section our book */
.our-book
{
    margin-top: 120px;
}

.div-our-book
{
    width: 98%;
    margin-bottom: 72px;
}

.our-book .text-1 p
{
    width: 29.9vw;
}

.our-book .text-2 p
{
    width: 29.9vw;
}

/* Section video */
.video
{
    margin-top: 140px;
}

.our-focus-area h1
{
    font-size: 32px;
    margin-bottom: 224px;
}

.our-focus-area a
{
    font-size: 78px;
    letter-spacing: -2px;
}

.line-our-focus
{
    background-color: #ebe6e2;
    width: 89vw;
    margin-top: 140px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 49px;
}

.rrw
{
    line-height: 63px;
}

.residential svg
{
    transition: transform 1s ease-in-out;
}

.residential:hover svg
{
    display: inline-block !important;
    margin-left: 10px;
    transform: translateX(-4px);
}

/* Section select projects */
.select-projects
{
    margin-top: 113px;
    margin-left: 37px;
}

.select-projects img
{
    width: 89vw !important;
}

.select-projects h1
{
    font-size: 48px;
    margin-bottom: 60px;
}

.little-text
{
    bottom: 0;
    right: 48px;
}

/* Section recently */
.recently
{
    margin-top: 250px;
} 

.title-recently
{
    font-size: 48px;
    margin-left: 41px;
}

.contain-articles
{
    width: 89.5vw;
}
.img img
{
    width: 28.5vw;
}

.text-process
{
    letter-spacing: 1px;
    background-color: #ebe6e2;
}

.text-date
{
    color: #a39e9e;
    font-size: 18px;
}

.article:hover .img img
{
    transform: scale(1.1);
    transition: transform 0.3s;
}

.description-img h3
{
    font-size: 24px;
}

.description-img p
{
    font-size: 18px;
    line-height: 25px;
}

.button-read-more
{
    border-bottom: 1px solid #ebe6e2;
    transition: border-bottom 0.3s;
}


.button-read-more:hover
{
    border-bottom: 1px solid #000;
}

.button-read-more a
{
    font-size: 18px;
}

.button-view-journal
{
    width: 15vw;
    margin-top: 73px;
    margin-left: 12px;
}

/* Section Animation bouton view our journal collective */
.button-view-journal:hover
{
    background-color: #000 !important;
    transition: 0.2s ease-in;
}

.button-view-journal:hover a
{
    color: white !important;
}

.button-view-journal:hover svg path[fill="black"]
{
    fill: white;
}
/* Fin animation */

.button-view-journal a
{
    font-size: 18px;
    font-weight: 600;
    width: 12vw;
}

/* Section your vision */
.your-vision
{

}

.contain-your-vision
{
    width: 90vw;
}

.left-block-vision
{
    height: 108vh;
}

.text1-your-vision
{
    font-size: 32px;
}

.button-your-vision
{
    /* width: 13vw; */
    margin-top: 65px;
    /* margin-left: 12px; */
}

/* Section  Animation bouton your vision collective */
.button-your-vision:hover
{
    background-color: white !important;
    transition: 0.2s ease-in;
}

.button-your-vision:hover a
{
    color: black !important;
}

.button-your-vision:hover svg path[fill="white"]
{
    fill: black;
}
/* Fin animation */

.button-your-vision a
{
    font-size: 18px;
    font-weight: 600;
    width: 8.5vw;
}

.img-your-vision
{
    object-fit: cover;
    height: 25.5vw;
}